@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    box-sizing: border-box;
}

.container-background {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    position: relative;
}

.container-itens-text {
    margin: 0 0 10px;
    font-family: Darker Grotesque, sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: #557588;
    text-align: center;
}

.container-itens-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.label-item {
    font-family: Darker Grotesque, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #557588;
}

.section-itens-input {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    gap: 20px;
}

.section-input {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
}

.input-item {
    padding: 15px 50px 15px 15px;
    font-family: Darker Grotesque, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #557588;
    background-color: #eaeef1;
    border: none;
    outline: none;
    border-radius: 11px;
    transition: all .2s;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.input-item:invalid {
    border: 2px solid rgb(202, 28, 28);
}
  
.input-item:valid {
    border: 2px solid #98cbe9;
}

.button-item {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Darker Grotesque, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    background-color: #2b536a;
    border-radius: 11px;
    border: none;
    cursor: pointer;
}

.icon-item {
    position: absolute;
    right: -28px;
    top: -73px;
    cursor: pointer;
}

.span-item {
    position: absolute;
    right: 10px;
    top: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.select-item {
    padding: 15px 50px 15px 15px;
    font-family: Darker Grotesque, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #557588;
    background-color: #eaeef1;
    border: none;
    outline: none;
    border-radius: 11px;
    transition: all .2s;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.select-item:invalid {
    border: 2px solid rgb(202, 28, 28);
}
  
.select-item:valid {
    border: 2px solid #98cbe9;
}