@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EAEEF1;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Darker Grotesque";
    font-weight: 700;
}

.container-background {
    background-color: #FFFFFF;
    width: 50%;
    height: 80%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.container-background-section {
    width: 100%;
    padding: 10px;
    border-radius: 24px;
}

.container-background-section-itens {
    background-color: #EAEEF1;
    margin-top: 20px;
    border-radius: 11px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.container-background-section-tools {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.button-item {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #2B536A;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.container-background-item-text {
    color: #557588;
    font-weight: 700;
    font-size: 40px;
    padding: 32px 0;
}

.card-item {
    background-color: #C0CCD3;
    width: 49%;
    border-radius: 12px;
    height: 121px;
    position: relative;
}

p {
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 5px;
}

.box-icon-delete-item {
    padding: 5px;
    color: #2b536a;
    background-color: rgba(213, 221, 223, .8);
    line-height: 0;
    border: none;
    border-radius: 8px;
    transition: all .3s ease;
    position: absolute;
    right: 50px;
    bottom: 10px;
    cursor: pointer;
}

.box-icon-edit-item {
    padding: 5px;
    color: #2b536a;
    background-color: rgba(213, 221, 223, .8);
    line-height: 0;
    border: none;
    border-radius: 8px;
    transition: all .3s ease;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.input-item {
    width: 50%;
    font-family: Darker Grotesque, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #557588;
    background-color: #eaeef1;
    border: 2px solid #98cbe9;
    outline: none;
    border-radius: 11px;
    transition: all .2s;
}

.select-item {
    width: 20%;
    font-family: Darker Grotesque, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #557588;
    background-color: #eaeef1;
    border: 2px solid #98cbe9;
    outline: none;
    border-radius: 11px;
    transition: all .2s;
}

.tag-group-item {
    margin-right: auto;
    padding: 2px 15px;
    font-family: Darker Grotesque;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #6ca7b9;
    border: 1px solid #6ca7b9;
    border-radius: 8px;
    position: absolute;
    left: 10px;
    bottom: 12px;
}