<body>
    <div class="container-background">
        <h3 class="container-background-item-text">Grupos</h3>
        <div class="container-background-section">
            <div class="container-background-section-tools">
                <input class="input-item" id="input-name" placeholder="Pesquisar" [(ngModel)]="pesquisa"/>
                <select class="select-item" [(ngModel)]="tipo">
                    <option></option>
                    <option>Laudador</option>
                    <option>Dentista</option>
                </select>
                <button class="button-item" (click)="openModal()">Novo Grupo</button>
            </div>
            <div class="container-background-section-itens">
                <div class="card-item" *ngFor="let group of filtered">
                    <p>{{ group.groupName }}<p>
                    <div class="box-icon-delete-item">
                        <span (click)="deleteCard(group.id)"> 
                            <mat-icon class="icon-delete-item">delete</mat-icon>
                        </span>  
                    </div>
                    <div class="box-icon-edit-item">
                        <span (click)="editCard(group.id)"> 
                            <mat-icon class="icon-edit-item">edit</mat-icon>
                        </span>
                    </div> 
                    <span class="tag-group-item">
                        {{group.typeGroup}}
                    </span> 
                </div>
            </div>
        </div>
    </div>
</body>
